video {
    width: 48%;
    margin: 1%;
    border: 1px solid black;
}
#webcam2 {
    /* width: 3%;
    margin: 1%;
    border: 1px solid black; */
    /* display: none; */
}
.botones{
    display: flex ;
    width: 100%;
    /* border: 2px solid red; */
    justify-content: space-around;
    margin-top: 5%;
}
.boton{
    width: 25%;
    padding: 1%;
    border: none;
    border-radius: 5px;
}
.boton1{
    background-color: red;
    width: 60%;
    color: white;

}
.boton2{
    background-color: green;
    width: 60%;
    color: white;

}
.boton3{
    background-color: blue;
    color: white;
    width: 60%;
    /* height: 25%; */
}

.boton-holder{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
}